body{
  font-family: helvetica, arial, sans-serif;
  color:#666;
  margin:0px;
  padding:0px;
}
h1 {
  font-size: 48px;
}
h1, h2, h3, h4,p{
  padding-left: 20px;
}
h2{
  margin-top:56px;
  color:#fff;
  background-color:#80b606;
  padding-top:18px ;
  padding-bottom: 18px;
}

.themebold{
  color:#80b606;
  font-weight:bold;
}
.alert{
  color:red;
  font-weight:bold;
}
